.header-top {

  background-color:black;
  border: 1px solid black;
  height: 600px;
  width: 100%;
  text-align: center;
  background-image: url("images/WhereHaveAllTheGreyPeopleGone.png");


}

.h1-header-top {

  color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
  /*font-weight: lighter;*/
  font-size: 100px;
  padding-top: 50px;
  }

.h2-header-top {
  color: #FFF;
  padding-top: 30px;
}

.buttons {
  padding-top: 60px;
}

.youtube-title {
  color: black;
  font-weight: bold;
}

#social-stream-feed {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
  padding: 30px;

}
