.header-top {

  background-color:black;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: url("images/WhereHaveAllTheGreyPeopleGone.png");
  background-repeat: repeat-y;
  background-size:contain;
  background-position:center;

}

.h1-header-top {
  color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: 110px;
  padding-top: 50px;
  }

.h2-header-top {
  color: #FFF;
  padding-top: 25px;
  font-size: 33px;
  /*font-weight: bold;*/
}

.buttons {
  padding-top: 30px;
  padding-bottom: 50px;
}

.youtube-title {
  color: black;
  font-weight: bold;
}

#facebook-stream-feed {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e2e2e2;
  padding-left: 30px;
  padding-right: 30px;
}

.fb-from_now {
  color: #90949c; /* matches to FB's grey in from_now's*/
}

#twitter-stream-feed {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e2e2e2;
  padding-left: 30px;
  padding-right: 30px;
}

.twitter-title {
  font-family: 'Source Sans Pro', sans-serif;
}

.twitter-user-name {
  font-weight: bold;
  display: inline-block;
  color: #008cc9;
  padding: 5px;

}
/**/
.twitter-user-screen-name {
  color: #8899a6; /* matches to Twitter's grey in usernames*/
  display: inline-block;
}

.twitter-from_now {
  color: #8899a6;
}

#youtube-stream-feed {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e2e2e2;
  padding-left: 30px;
  padding-right: 30px;
}

.youtube-title {
  color: #008cc9;
  font-size: 15px;
}

.youtube-description {
  color: #555; /* matches to YouTube's grey for descriptions*/
  font-size: 13.5px;
}

.youtube-from_now {
  color: #555; /* matches to YouTube's grey for from_nows*/
}
